body {
    background: #2F3437;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: left;
}
p {
    display: block;
    margin-right: 600px;
    position: left;
}
h1 {
    color: white;
font-size: 70px;
align-content: center;
display: block;
}
a {
    text-decoration: double;
    transition: all 100ms ease-in-out;
}
a:hover{
    cursor: pointer;
} 
#myImage {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    right: 40px;
    width: 100px;
    height: 120px;
}
#clockUK {
    font-size: 40px;
    color: white
    display: block;
    margin: 30px;
}
#aboutMe, #currentRole, #gitHubLink, #skills {
    background-color: grey;
    border-radius: 10px;
    box-shadow: 4px;
    color: white;
    display: inline-block;
    font-size: 40px;
    margin: 0% auto;
}
#aboutMe:hover {
    cursor: pointer;
}
#emailMe {
    background-color:whitesmoke ;
    border-radius: 20px;
    box-shadow: 8px;
    color:black;
    display: block;
    font-size: 58px;
    margin: 0% auto;
}